* {
    font-family: 'Press Start 2P', cursive;
    background-image: url("backgroundspace.png");
    text-align: center;
    
}

div {
    color: white;
       }


h1 {
    color: white;
}


#reload {
    color: white;
}

#button {
    display: flex;
    flex-direction: column;
}